<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
	<add name ="ConnectionStringToExercise_DBFirst"
		 connectionString="Data Source=.; Database=Exercise_DBFirst; Integrated Security=true; Encrypt=true; trustServerCertificate=true"
		 providerName="System.Data.SqlClient" />
	</connectionStrings> 
</configuration>